

body{
    background-image: url('../images/spak.jpg');  
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
body .photoArea{
    margin-top: 53px; 
}

.photoArea header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: baseline;
    margin-left: -10px;
}
.photoArea header h1 {
    font-size: 28px;
    font-weight: bold;
    padding-left: 0.8%;
    font-family: 'Lacquer', sans-serif;
}
.photoArea header #navbar {
    display: flex;
    justify-content: space-between;
    padding-right: 3%;
    width: 27%;
    font-family: 'Courier New', Courier, monospace;
}

.photoArea header #navbar a {
    text-decoration: none;
    color: darkgrey;
    font-size: 20px;
}

.photoArea .button {
    display: flex;
    flex-direction: column;
    width: 30%;
  
}

.photoArea section{
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin-top: 300px;
   padding-left: 25%;
}

.photoArea section .button{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 80px;
}

.photoArea section .button button{
    font-size: 1rem;
    border-radius: 5%;
    height: 2.5rem;
    background-color: rgba(0, 81, 255, 0.267);
    font-family: 'Abril Fatface', cursive;
}

.photoArea section .button #buttonfunc{
    margin-right: 10px;
    background-color: rgba(0, 128, 0, 0.329);
}

.photoArea section .outputBox{
    width: 60%;
    height: 4rem;
    border: 3px solid silver;
    background-color: rgba(255, 255, 255, 0.733);
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoArea section .outputBox #output{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}


.photoArea footer{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;  
    margin-left: -10px; 
}

.photoArea footer h1 {
    font-size: 28px;
    font-weight: bold;
    padding-left: 0.8%;
    font-family: 'Lacquer', sans-serif;
}
.photoArea footer nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
}

.photoArea footer nav a {
    text-decoration: none;
    color: darkgrey;
    font-size: 20px;
}

@media(max-width: 1100px){
    body{
        background-image: url('../images/spak.jpg');  
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    body .photoArea{
        margin-top: 53px; 
    }
    
    .photoArea header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
        align-items: baseline;
        margin-left: -10px;
    }
    .photoArea header h1 {
        font-size: 28px;
        font-weight: bold;
        padding-left: 0.8%;
        font-family: 'Lacquer', sans-serif;
    }
    .photoArea header #navbar {
        display: flex;
        justify-content: space-between;
        padding-right: 3%;
        width: 50%;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .photoArea header #navbar a {
        text-decoration: none;
        color: darkgrey;
        font-size: 20px;
    }
    
    .photoArea .button {
        display: flex;
        flex-direction: column;
        width: 0%;
      
    }
    
    .photoArea section{
       display: flex;
       justify-content: center;
       flex-direction: column;
       margin-top: 300px;
       padding-left: 25%;
    }
    
    .photoArea section .button{
        width: 60%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 80px;
    }
    
    .photoArea section .button button{
        font-size: 1rem;
        border-radius: 5%;
        height: 2.5rem;
        background-color: rgba(0, 81, 255, 0.267);
        font-family: 'Abril Fatface', cursive;
    }
    
    .photoArea section .button #buttonfunc{
        margin-right: 10px;
        background-color: rgba(0, 128, 0, 0.329);
    }
    
    .photoArea section .outputBox{
        width: 60%;
        height: 4rem;
        border: 3px solid silver;
        background-color: rgba(255, 255, 255, 0.733);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .photoArea section .outputBox #output{
        font-family: 'Anton', sans-serif;
        font-size: 30px;
    }
    
    
    .photoArea footer{
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: white;
        position: fixed;
        bottom: 0;
        width: 100%;  
        margin-left: -10px; 
    }
    
    .photoArea footer h1 {
        font-size: 28px;
        font-weight: bold;
        padding-left: 0.8%;
        font-family: 'Lacquer', sans-serif;
    }
    .photoArea footer nav {
        display: flex;
        justify-content: space-between;
        width: 50%;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .photoArea footer nav a {
        text-decoration: none;
        color: darkgrey;
        font-size: 20px;
    }
}


@media(max-width: 500px){
    body{
        background-image: url('../images/mobilepic.jpg');  
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    body .photoArea{
        margin-top: 53px; 
    }
    
    .photoArea header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
        margin-left: -10px;
    }
    .photoArea header h1 {
        font-size: 30px;
        font-weight: bold;
        padding-left: 0.8%;
        font-family: 'Lacquer', sans-serif;
        margin-left: 16%;
        
    }
  .photoArea header #navbar {
      display: flex;
      justify-content: space-around;
      padding-right: 3%;
      width: 100%;
      font-family: 'Courier New', Courier, monospace;
  }
  
  .photoArea header #navbar a {
      text-decoration: none;
      color: darkgrey;
      font-size: 20px;
  }
  
  .photoArea .button {
      display: flex;
      flex-direction: column;
    
  }
  
  .photoArea section{
     display: flex;
     justify-content: center;
     flex-direction: column;
     margin-top: 300px;
     padding-left: 0%;
  }
  
  .photoArea section .button{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 80px;
  }
  
  .photoArea section .button button{
      font-size: 1rem;
      border-radius: 5%;
      height: 2.5rem;
      background-color: rgba(0, 81, 255, 0.267);
      font-family: 'Abril Fatface', cursive;
      width: 80%;
      margin-left: 40%;
      margin-bottom: 10px;
  }
  
  .photoArea section .button #buttonfunc{
      margin-right: 10px;
      background-color: rgba(0, 128, 0, 0.329);
  }
  
  .photoArea section .outputBox{
      width: 80%;
      height: 4rem;
      border: 3px solid silver;
      background-color: rgba(255, 255, 255, 0.733);
      display: flex;
      align-items: center;
      margin-left: 9.2%;
      margin-right: 10%;
  }
  
  .photoArea section .outputBox #output{
      font-family: 'Anton', sans-serif;
      font-size: 30px;
  }
  
  
  .photoArea footer{
      display: flex;
      justify-content: center;
      padding-bottom: 15px;
      padding-top: 15px;
      background-color: white;
      position: fixed;
      bottom: 0;
      width: 100%;  
      margin-left: -10px; 
  }
  
  .photoArea footer h1 {
      font-size: 28px;
      font-weight: bold;
      padding-left: 0.8%;
      font-family: 'Lacquer', sans-serif;
  }
  .photoArea footer nav {
    display: flex;
    justify-content: space-around;
    padding-right: 3%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .photoArea footer nav a {
      text-decoration: none;
      color: darkgrey;
      font-size: 20px;
  }
}