//Background Images
.bg-img{
    height: 91.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 1px;
    overflow: hidden;
}
.mission{
    background-image: url("../images/typewriter-1.jpg");
    background-position: bottom left;
}
#main-body{
    background-image: url("../images/sticky-1.jpg");
}
#second-body{
    background-image: url('../images/bookcase.jpg')
}
#sub-body{
    background-image: url("../images/note-1.jpg");
}
//Intro div
.brand{
    height: 15rem;
    width: 65rem;
    float: left;
    margin: 15rem 0 10rem 8rem;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
}
#name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    font-style: oblique;
    font-weight: bolder;
    color: @navajoWhite;
}
.intro{
    height: 70rem;
    width: 55rem;
    background-color: rgba(245, 245, 245, 0.42);
    float: right;
    margin: 11.5rem 3rem 12.2rem 0;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
        font-size: 60px;
        text-align: center;
        margin-top: 6rem;
        margin-bottom: 6rem;
        color: @tacao;
        font-family: 'Courier New', Courier, monospace;
    }
    p{
        padding: 5rem, 0, 5rem, 0;
        font-size: 25px;
        color: @peachOrange;
        text-align: center;
        margin-bottom: 11rem;
        
    }
    a{
        width:100%;
        display: flex;
        justify-content: center;
        
        img{
            width: 300px;
        }
    }
}
.intro-left{
    height: 25rem;
    width: 40rem;
    float: left;
    margin: 17rem 0 15rem 15rem;
    border-radius: 20px;
    padding: 20px;
}

#main-body{
    #body1{
        background-color: white;
        width: 35%;
        height: 40%;
        padding-top: 7rem;
        padding-bottom: 7rem;
        display: flex;
        flex-direction: column;
        margin-top: 25rem;
        
        h2{
            font-size: 40px;
            text-decoration: grey;
            text-align: left;
            margin-bottom: 5rem;
            font-weight: bold;
            margin-left: 10%;
            font-family: 'Lacquer', sans-serif;
        }
        p{
            font-size: 20px;
            margin-left: 10%;
            margin-right: 10%;
            font-family: 'Maven Pro', sans-serif;
            line-height: 1.3em;
        }
    }
    a{
        width:100%;
        display: flex;
        justify-content: center;
        
        img{
            width: 300px;
        }
    }
}

#second-body{
    #body2{
        background-color: white;
        width: 35%;
        height: 40%;
        padding-top: 7rem;
        padding-bottom: 7rem;
        display: flex;
        flex-direction: column;
        margin-top: 25rem;   
        h2{
            font-size: 40px;
            text-decoration: grey;
            text-align: left;
            margin-bottom: 5rem;
            font-weight: bold;
            margin-left: 10%;
            font-family: 'Lacquer', sans-serif;
        }
        p{
            font-size: 20px;
            margin-left: 10%;
            margin-right: 10%;
            font-family: 'Maven Pro', sans-serif;
            line-height: 1.3em;
        }
    }
    a{
        width:100%;
        display: flex;
        justify-content: center;
        
        img{
            width: 300px;
        }
    }
}