.bg-img{
    height: 91.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 30px;
    margin: 8px;
    overflow: hidden;
}
.mission{
    background-image: url("../images/typewriter-1.jpg");
    background-position: top left, bottom center;
}
.main-body{
    background-image: url("../images/sticky-1.jpg");
}
.sub-body{
    background-image: url("../images/note-1.jpg");
}
