header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    h1{
        font-size: 28px;
        font-weight: bold;
        padding-left: 0.8%;
        font-family:  'Lacquer', sans-serif;
    }
    #navbar{
        display: flex;
        justify-content: space-between;
        padding-right: 3%;
        width: 27%;
        font-family: 'Courier New', Courier, monospace;
        @media @phone {
            width: 90%;
        }
        a{
          text-decoration: none; 
          color: darkgrey;
          font-size: 20px;
        }
        
    }
}

//header and nav mobile settings
@media(max-width: 500px){
    header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
    }
    header h1 {
        font-size: 30px;
        font-weight: bold;
        padding-left: 0.8%;
        font-family: 'Lacquer', sans-serif;
        padding-left: 33%;
        margin-bottom: 10px;
        
    }
    header #navbar {
      display: flex;
      justify-content: space-around;
      padding-right: 3%;
      width: 100%;
      font-family: 'Courier New', Courier, monospace;
    }
  
    header #navbar a {
      text-decoration: none;
      color: darkgrey;
      font-size: 20px;
    }
  
    footer{
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: white;
        position: fixed;
        bottom: 0;
        width: 100%;  
    }
    
    footer h1 {
        font-size: 28px;
        font-weight: bold;
        padding-left: 0.8%;
        font-family: 'Lacquer', sans-serif;
    }
    footer nav {
      display: flex;
      justify-content: space-around;
      padding-right: 3%;
      width: 100%;
      font-family: 'Courier New', Courier, monospace;
    }
    
    footer nav a {
        text-decoration: none;
        color: darkgrey;
        font-size: 20px;
    }
  }