header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    h1{
        font-size: 28px;
        font-weight: bold;
        padding-left: 0.8%;
        font-family:  'Lacquer', sans-serif;
    }
    #navbar{
        display: flex;
        justify-content: space-between;
        padding-right: 3%;
        width: 27%;
        font-family: 'Courier New', Courier, monospace;
        @media @phone {
            width: 90%;
        }
        a{
          text-decoration: none; 
          color: darkgrey;
          font-size: 20px;
        }
        
    }
}