/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  margin-top: 53px;
}
@media (max-width: 500px) {
  body {
    max-width: 500px;
  }
}
header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}
header h1 {
  font-size: 28px;
  font-weight: bold;
  padding-left: 0.8%;
  font-family: 'Lacquer', sans-serif;
}
header #navbar {
  display: flex;
  justify-content: space-between;
  padding-right: 3%;
  width: 27%;
  font-family: 'Courier New', Courier, monospace;
}
@media (max-width: 500px) {
  header #navbar {
    width: 90%;
  }
}
header #navbar a {
  text-decoration: none;
  color: darkgrey;
  font-size: 20px;
}
.bg-img {
  height: 91.8rem;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 1px;
  overflow: hidden;
}
.mission {
  background: url("../images/adventure-1.jpg") left bottom no-repeat local, url("../images/adventure-3.jpg") right top no-repeat local, url("../images/adventure-5.jpg") center no-repeat fixed;
  background-size: 24.9%, 24.9%, 50%;
  background-color: #252839;
}
#main-body {
  background-image: url("../images/sticky-1.jpg");
}
#second-body {
  background-image: url('../images/bookcase.jpg');
}
#sub-body {
  background-image: url("../images/note-1.jpg");
}
#bottom-portion {
  background: white;
}
#name {
  font-family: 'Courier New', Courier, monospace;
  font-size: 100px;
  font-style: oblique;
  font-weight: bolder;
  color: #fed9a4;
}
.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
.intro {
  height: 55rem;
  width: 65rem;
  background-color: rgba(245, 245, 245, 0.31);
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.intro h2 {
  font-size: 60px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 6rem;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
.intro p {
  padding: 5rem, 0, 5rem, 0;
  font-size: 25px;
  color: #fafafa;
  text-align: center;
  margin-bottom: 2rem;
}
.intro a {
  width: 100%;
  display: flex;
  justify-content: center;
}
.intro a img {
  width: 10rem;
}
.intro-left {
  height: 25rem;
  width: 40rem;
  float: left;
  margin: 17rem 0 15rem 15rem;
  border-radius: 20px;
  padding: 20px;
}
#main-body #body1 {
  background-color: white;
  width: 35%;
  height: 40%;
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  margin-top: 25rem;
}
#main-body #body1 h2 {
  font-size: 40px;
  text-decoration: grey;
  text-align: left;
  margin-bottom: 5rem;
  font-weight: bold;
  margin-left: 10%;
  font-family: 'Lacquer', sans-serif;
}
#main-body #body1 p {
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Maven Pro', sans-serif;
  line-height: 1.3em;
}
#main-body a {
  width: 100%;
  display: flex;
  justify-content: center;
}
#main-body a img {
  width: 300px;
}
#second-body #body2 {
  background-color: white;
  width: 35%;
  height: 40%;
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  margin-left: 65%;
  margin-top: 25rem;
}
#second-body #body2 h2 {
  font-size: 40px;
  text-decoration: grey;
  text-align: left;
  margin-bottom: 5rem;
  font-weight: bold;
  margin-left: 10%;
  font-family: 'Lacquer', sans-serif;
}
#second-body #body2 p {
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Maven Pro', sans-serif;
  line-height: 1.3em;
}
#second-body a {
  width: 100%;
  display: flex;
  justify-content: center;
}
#second-body a img {
  width: 300px;
}
#sub-body #body3 {
  background-color: white;
  width: 35%;
  height: 40%;
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 25rem;
}
#sub-body #body3 h2 {
  font-size: 40px;
  text-decoration: grey;
  text-align: left;
  margin-bottom: 5rem;
  font-weight: bold;
  margin-left: 10%;
  font-family: 'Lacquer', sans-serif;
}
#sub-body #body3 p {
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Maven Pro', sans-serif;
  line-height: 1.3em;
}
#sub-body a {
  width: 100%;
  display: flex;
  justify-content: center;
}
#sub-body a img {
  width: 300px;
}
#bottom-portion .body4 h2 {
  text-align: center;
  padding-top: 5%;
  font-size: 50px;
  font-family: 'Lacquer', sans-serif;
}
#bottom-portion .body4 .imagerectangle {
  justify-content: space-between;
  width: 90%;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}
#bottom-portion .body4 .imagerectangle .rectangle {
  width: 35rem;
}
#bottom-portion span {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
#bottom-portion span .signup {
  width: 20%;
  border-radius: 40px;
  font-family: 'Maven Pro', sans-serif;
  background-color: #4674AB;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
